*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box; /* Include content, padding, and border but not margin */
}

.container{
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color); /* Variable of primary color for later switching between light and dark mode */
    padding: 10px;
}

.white-box{
    width: 100%;
    max-width: 540px;
    background: var(--secondary-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px; /* Rounded Corners */
}

.white-box h2 {
    margin-bottom: 20px;
    display: flex;
}

#icon { /* Moon and Sun for dark/light mode */
    width: 30px;
    margin-left: 285px;
    cursor: pointer;
}

:root {
    --primary-color: #d8a9ff; 
    --secondary-color: white; 
}

.dark-theme {
    --primary-color:#17106d; 
    --secondary-color:rgb(81, 78, 163); 
}

.enter-and-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f3f3;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#add-button {
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #ffd684; /* Variable of secondary color for later switching between light and dark mode */
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

ul > li {
    list-style: none;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative; /*Because in ul > li::before we have position: absolute; here, the position is relative*/
}

ul > li::before { /*Before being checked off */
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul > li.checked{ /*After being checked off*/
    color: #adadad;
    text-decoration: line-through;
}

ul > li.checked::before {
    background-image: url(images/checked.jpg);
}

ul > li > span { 
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul > li > span:hover { /* Hovering over the X - creating a grey circle in the background */
    background: #f3f3f3;
}
